@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

p {
  margin-bottom: 1em; }

body {
  color: #333;
  background: #fafafa;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.8;
  letter-spacing: 0.05em;
  font-feature-settings: "palt"; }
  body a {
    color: #333;
    text-decoration: none;
    transition: 0.3s; }
    body a:link, body a:hover, body a:active, body a:focus {
      color: #333; }
    body a:hover {
      opacity: 0.6; }

.main_nav {
  width: 50px;
  height: 50px;
  background: #fafafa;
  position: fixed;
  top: 8px;
  right: 8px;
  border-radius: 30px;
  border: solid 2px #333;
  transition: 0.3s;
  /*=====================　ハンバーガー　=====================*/
  /*=====================　ナビの中身　=====================*/ }
  .main_nav.active {
    width: calc(100vw - 16px);
    height: calc(100vh - 16px);
    border-radius: 10px;
    top: 8px;
    right: 8px; }
    .main_nav.active .drawer_button .inner {
      background: rgba(51, 51, 51, 0); }
      .main_nav.active .drawer_button .inner:after {
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
      .main_nav.active .drawer_button .inner:before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
    .main_nav.active .drawer_nav {
      opacity: 1;
      pointer-events: auto; }
  .main_nav .drawer_button {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer; }
    .main_nav .drawer_button .inner,
    .main_nav .drawer_button .inner:after,
    .main_nav .drawer_button .inner:before {
      width: 20px;
      height: 2px;
      border-radius: 10em; }
    .main_nav .drawer_button .inner {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background: #333;
      transition: all 0ms 300ms;
      z-index: 999; }
      .main_nav .drawer_button .inner:before {
        content: "";
        position: absolute;
        bottom: 7px;
        background: #333;
        transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
      .main_nav .drawer_button .inner:after {
        content: "";
        position: absolute;
        top: 7px;
        background: #333;
        transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
      .main_nav .drawer_button .inner.active {
        background: rgba(51, 51, 51, 0); }
      .main_nav .drawer_button .inner.active:after {
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
      .main_nav .drawer_button .inner.active:before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
  .main_nav .drawer_nav {
    pointer-events: none;
    opacity: 0; }

/*# sourceMappingURL=common.css.map */
