// ================================
// カラー
// ================================
$color_white: #fafafa;
$color_black: #333;
// ================================
// ブレイクポイント
// ================================
$bp_XXL: 1600px;
$bp_XL: 1024px;
$bp_L: 768px;
$bp_M: 640px;
$bp_S: 420px;
$bp_XS: 320px;
// @media only screen and (max-width: $bp_S) { }
